/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Mobile Styles
   Author: Juozas Kripas
   Date:   3/10.2016

   Filename:         mobile.css
   Supporting Files: tblogo_sm.png, portrait.txt, landscape.txt

*/

/* Styles to be used with mobile devices */


/*Hide page elements that will not be displayed*/
header h1, header nav, section nav.vertical, footer{
    display: none;
}

/*Header  Styles*/
header{
    background: rgb(18, 15, 12) url(tblogo_sm.png) center
        center no-repeat;
    
    -o-background-size:contain;
    -moz-background-size:contain;
    -webkit-background-size:contain;
    background-size:contain;
    
    height: 50px;
    width: 100%;
}
